/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 24, 2022, 3:57:15 PM
    Author     : Dasun Nethsara
*/

body
{
    margin: 0;
    padding: 0;
}

.background-image
{
    height: 100vh;
    width: 100%;
    background-image: url("../Media/images/bg.jpg");
    background-size: cover;
    background-position: center;
}